go 1.26.3

use (
	.
	pkg/forward
	pkg/headers
	pkg/logging
	pkg/paths
	pkg/pluginlogger
	pkg/session
	plugins/authenticator
	plugins/static-content
	tests/e2e
)

replace github.com/krakend/krakend-gologging/v2 v2.1.1 => ./pkg/logging
